<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Yarn</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/crowds.css"/>
    </head>
    <body>
        <div class="crowds_demo demo_panel1"></div>
        <div class="crowds_demo demo_panel2"></div>

        <script src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
        <script src="{{STATIC_URL}}js/crowds.js"></script>
        <script src="{{STATIC_URL}}js/crowd_demo.js"></script>
    </body>
</html>

